<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

</style>
<body>
<form name= "form1" action="/list_post-{{ nid }}/" method='post'>
         <textarea name= "file" id="file" style="background-color:darkgrey;font-size: 20px;width:900px;height:600px" v-model="item.content">{{content}}</textarea>

          <input id="btn" type="submit" value="submit">
          <input value="返回" type=button onclick="window.location='/conntect/'">
</form>
<textarea style="width: 900px;height: 65px">{{ a }}</textarea>
{#<--!<div>{{ content}}</div>-->#}
{#<textarea  style="font-size: 20px;width:100px;height:200px" v-model="item.content">{{content}}</textarea>#}
<script src="/static/jquery-3.3.1.min.js"></script>
{#<script>#}
{#    document.getElementById("btn").onclick = function () {#}
{#        alert({{ a }})#}
{#    }#}
{#</script>#}

</body>
</html>
